scrape_configs:
- job_name: cadvisor
  scrape_interval: 5s
  scheme: https
  static_configs:
  - targets:
    - "{{ VAR_CADVISOR_URL }}"

- job_name: 'node_exporter'
  static_configs:
  - targets:
    - "{{ VAR_NODE_EXPORTER_SERVERS }}"
      
